<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<form method="post" action="/formSubmit" enctype="multipart/form-data">
<!-- entype = encryption type -->

	<div class="md-col-4 md-col-offset-2">
		<input type="file" name="imageToUpload">
		<input type="submit" class="btn btn-primary">
	</div>

