/* line 6, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 23, ../../compass/sass/styles.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
